body{
    margin: 0;
    padding: 0;
    font-family: "Cuprum", PT Sans, sans-serif;
    font-size: 14px;
    font-weight: 400px;
    color: #000000;
    background-color:#ffffff;
}

a{
    text-decoration: none;
}

.container{
   margin: 0 auto;
   width: 940px;
}

.main header{
    min-height: 320px;
    background-color:#f3f7f8;
    margin-bottom: 59px;
}

.header-top{
    background-color:#293449;
    width: 100%;
}

.header-top-menu{
    list-style: none;
    color:#ffffff;
    display: flex;
    justify-content: space-around;

}

.header-top-menu-order{
    background-color:#63a63e;
    color:#ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 14px;
    padding-bottom: 13px;
}

.header-top-menu-order:hover{
    background-color:#518534;
}

.header-top-menu-order:active{
    background-color:#5fbb2d
}

.header-top-menu-link{
    color:#ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 13px;
}

.user-info-wrapper{
   display: flex;
   justify-content: space-around;
}

/*.user-info-phone{
    align-self: center;
}*/

.user-info-name{
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    width: 196px;
}

.user-unfo-address{
    color: #32425c;
    font-weight: 400;
    line-height: 24px;
}

.user-info-phone{
    width: 144px;
    color: #ee3643;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    border: 3px solid #000000;
    padding: 13px 52px 11px 74px;
}

.user-info-menu{
    display: inline;
    margin-right: 71px;
}

.user-list-item-link{
    color: #000000;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
}

.user-list-item-link:hover{
    color: #ee3643
}

.main-nav{
   background-color:#32425c;
}

.main-nav-menu-list{
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
 

.main-nav-menu-link{
    color:#ffffff;
    display: inline-block;
    padding: 20px 60px 26px 55px;
   
}

.main-nav-menu-link:hover{
    color:#293449
}

.main-content{
    margin-top: 59px;
}

.slaider-block-menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}

.best-selling-wrapper{
    background-color: #f9f5f0;
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.best-selling-header{
    color: #32425c;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 35px;
    margin-left: 30px;

}
   
.best-selling-link{
    color: #ffffff;
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #ee3643;
    margin: 25px;
    padding: 14px 55px;
}

.best-selling-menu{
    display: flex;
    justify-content: space-around;
}

.best-selling-item-wrapper{
    width: 220px;
    height: 318px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;  
}

.best-selling-text{
    color: #000000;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.user-info-menu,
.best-selling-menu{
    list-style: none;
}

.best-selling-first-price{
   color: #a9a9a9;
   font-family: "PT Sans";
   font-size: 17px;
   font-weight: 700;
   line-height: 18px;
   text-decoration: line-through;
   text-transform: uppercase;
}

.best-selling-second-price{
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase
}

.popular-maker-wrapper{
    background-color: #f9f5f0;
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.popular-maker-header{
    color: #32425c;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 35px;
    margin-left: 30px;
}

.popular-maker-wrapper a{
    color: #ffffff;
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #ee3643;
    margin: 25px;
    padding: 13px 70px 13px 69px;
}

.popular-maker-menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 85px;
}

.popular-maker-link{
    width: 220px;
    height: 145px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.main-content-customer-info{
    background-color:#f4f8f9;
}

.main-content-service{
    margin-top: 68px;
    display: inline-block;
}

.service-header{
    color:#000000;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.service-text{
    font-size: 13px;
    width: 398px;
    height: 96px;
    color:#000000;
    font-family: "PT Sans";
    font-weight: 400;
    line-height: 24px
}

.customer-info-wrapper{
    display: flex;
    justify-content: space-between;
}
    

.customer-info-menu{
    margin-top: 74px;
    margin-left: 80px;
}

.customer-info-item{
    list-style: none;
    width: 240px;
    height: 61px;
    box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
    background-color: #ffffff;
}

.customer-info-button{
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
}

.customer-info-button:hover{
    background-color:#293449;
    color: #ffffff
}

.customer-info-button:active{
    color:#32425c;
    background-color:#ffffff
}

.customer-info-item{
    width: 78px;
    color: #32425c;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
}

.delivery-header{
    color: #32425c;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
}

.delivery-text{
    font-size: 13px;
    font-family: "PT Sans";
    font-weight: 400;
    line-height: 24px;
    columns: #000000;
    width: 275px;
    height: 147px;
}

.main-content-Company-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
    margin-bottom: 86px;
}

.Company-info-header{
    color:#000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase
}

.Company-info-text{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    width: 519px;
}

.Company-info-item{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    list-style: none;
    margin-left: 0;
}

.Company-info-list:last-of-type::before{
    content: "-";
    color: #ee3643;
}

.Company-info-link{
    display: inline-block;
    margin-top: 37px;
    color: #ffffff;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ee3643;
    padding: 14px 40px 14px 41px;
}

.main-content-contacts{
    margin-left: 120px;
}

.contacts-header{
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts-text{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    width: 179px;
}

.contacts-button{
    width: 300px;
    margin-top: 234px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ee3643;
    padding: 14px 59px 12px 63px;
}

.footer-top{
    background-color:#32425c;
}

.footer-main-nav-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer-main-nav-link{
   color: #f1f5f7;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
}


.footer-info-text{
    display: inline-block;
    color: #f3f7f9;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    width: 322px;
}

.footer-info-link{
    color: #f3f7f9;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px
}

.footer-secondary-menu{
    display: flex;
    justify-content: space-between;
}

.footer-secondary-menu-link{
    color: #ffd180;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer-secondary-menu-item{
    list-style: none;
}

.footer-bottom{
    background-color:#293449;
}


.footer-copiright{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    width: 228px;
}

.footer-bottom-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer-contacts-wrapper{
    display: flex;
    justify-content: space-around;
}

.footer-contacts-text{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.footer-contacts-link{
    color: #ffd180;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px
}

.footer-socials-list-item{
    list-style: none;
}



  
