body{
    margin: 0;
    padding: 0;
    font-family: "Cuprum", PT Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    background-color:#ffffff;
}

a{
    text-decoration: none;
}

.container{
   margin: 0 auto;
   width: 940px;
}

img{
    max-width: 100%;
    height: auto;
}

.main header{
    background-color:#f4f7f9;
    margin-bottom: 59px;
    background-image: url(*img/top_background.png);
}

.header-top{
    background-color:#293449;
    width: 100%;
    margin-bottom: 49px;
}

.header-top-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    min-height: 42px;
    list-style: none;
    color:#ffffff;
}


.header-top-menu-order{
    display: inline-block;
    background-color:#63a63e;
    box-sizing: border-box;
    width: 150px;
    color:#ffffff;
    font-size: 17px;
    padding: 12px 20px;
    vertical-align: middle;
}

.header-top-menu-order:hover{
    background-color:#518534;
}

.header-top-menu-order:active{
    background-color:#5fbb2d
}

.header-top-menu-link{
    display: block;
    color:#ffffff;
    font-size: 17px;
    vertical-align: middle;
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu-item-search{
    position: relative;
    display: flex;
}

.button-search{
    margin-top: 10px;
    margin-left: 49px;
    width: 41px;
    color: #ffffff;
    font-family: Cuprum;
    font-size: 17px;
    background-color: #293449;
    border: 0;
}

.button-search::after{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 12px;
    left: 40px;
    background-size: cover;
    background-image: url(img/icon-search.png);
}


.user-info-wrapper{
   display: flex;
}
   

.user-info-name{
    display: flex;
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    width: 196px;
    padding-right: 71px;
    padding-left: 53px;
}

.user-unfo-address{
    display: flex;
    flex-direction: column-reverse;
    color: #32425c;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.user-info-phone{
    display: inline-block;
    width: 144px;
    color: #ee3643;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    border: 3px solid #ffffff;
    padding: 13px 52px 11px 74px;
}

.user-info-menu{
    padding: 0;
    margin: 0;
    display: flex;
}

.user-list-item-enter{
    display: inline-block;
    margin: 46px 10px 67px 69px;
    color: #000000;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
}

.user-list-item-login{
    display: inline-block;
    margin-top: 46px;
    margin-bottom: 67px;
    color: #000000;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
}

.user-list-item-link:hover{
    color: #ee3643
}

.main-nav{
   background-color:#32425c;
   min-height: 60px;
}

.main-nav-menu-list{
    margin: 0;
    padding: 0;
    margin-bottom: 119px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}
 

.main-nav-menu-link{
    display: block;
    color:#ffffff;
    font-size: 17px;
    line-height: 17px;
    padding-top: 22px;
}

.main-nav-menu-link:hover{
    color:#293449
}

.main-content{
    margin-top: 59px;
}

.main-content-slaider-block{
    min-height: 521px;

}

.slaider-block-menu{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}


.slaider-block-item-1{
    display: flex;
    flex-direction: column;
    background-color: #ffbf47;
    width: 300px;
    min-height: 123px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.slaider-block-item-1 span{
    position: relative;
    font-family: Cuprum;
    font-size: 24px;
    font-weight: 700;
    color:#ffffff;
    margin-top: 26px;
    margin-left: 23px;
}

.slaider-block-item-1 span::after{
    position: absolute;
    content: "";
    background-image: url(/img/icon-1.png);
    background-size: cover;
    right: 50px;
    top: 10px;
    width: 44px;
    height: 65px;
}

.slaider-block-item-1 a{
    display: inline-block;
    color:#ffffff;
    text-transform: uppercase;
    width: 135px;
    background-color: #000000;
    opacity: 0.1;
    min-height: 38px;
    margin-left: 23px;
    margin-top: 15px;
    line-height: 38px;
    text-align: center;
}

.slaider-block-item-2{
    display: flex;
    flex-direction: column;
    background-color:#3bbce3;
    width: 300px;
    min-height: 123px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.slaider-block-item-2 span{
    position: relative;
    font-family: Cuprum;
    font-size: 24px;
    font-weight: 700;
    color:#ffffff;
    margin-top: 26px;
    margin-left: 23px;
}

.slaider-block-item-2 span::after{
    position: absolute;
    content: "";
    background-image: url(/img/icon-2.png);
    background-size: cover;
    right: 30px;
    top: 10px;
    width: 75px;
    height: 61px;
}

.slaider-block-item-2 a{
    display: inline-block;
    color:#ffffff;
    text-transform: uppercase;
    width: 135px;
    background-color: #000000;
    opacity: 0.1;
    min-height: 38px;
    margin-left: 23px;
    margin-top: 15px;
    line-height: 38px;
    text-align: center;
}


.slaider-block-item-3{
    display: flex;
    flex-direction: column;
    background-color:#dc91d8;;
    width: 300px;
    min-height: 123px;
    margin-bottom: 20px;  
}

.slaider-block-item-3 span{
    position: relative;
    font-family: Cuprum;
    font-size: 24px;
    font-weight: 700;
    color:#ffffff;
    margin-top: 26px;
    margin-left: 23px;
}

.slaider-block-item-3 span::after{
    position: absolute;
    content: "";
    background-image: url(/img/icon-3.png);
    background-size: cover;
    right: 30px;
    top: 10px;
    width: 78px;
    height: 62px;
}

.slaider-block-item-3 a{
    display: inline-block;
    color:#ffffff;
    text-transform: uppercase;
    width: 135px;
    background-color: #000000;
    opacity: 0.1;
    min-height: 38px;
    margin-left: 23px;
    margin-top: 15px;
    line-height: 38px;
    text-align: center;
}


.slaider-block-item-4{
    width: 620px;
    min-height: 266px;
}

.slaider-block-item-wrapper{
    display: inline-block;
    position: relative;
}

.block-span{
    position: absolute;
    color: #ffffff;
    font-family: Cuprum;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    top: 27px;
    left: 24px;
}

.block-item-span{
    position: absolute;
    width: 150px;
    color: #ffffff;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    top: 65px;
    left: 24px;
}

.block-item-4-link{
    position: absolute;
    top: 215px;
    left: 27px;
    width: 195px;
    min-height: 38px;
    background-color: #ee3643;
    color: #ffffff;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 38px;
    text-transform: uppercase;
}


.slaider-block-item-5{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color:#8ed78f;
    width: 300px;
    height: 123px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.slaider-block-item-5 span{
    position: relative;
    font-family: Cuprum;
    font-size: 24px;
    font-weight: 700;
    color:#ffffff;
    margin-top: 26px;
    margin-left: 23px;
}

.slaider-block-item-5 span::after{
    position: absolute;
    content: "";
    background-image: url(/img/icon-4.png);
    background-size: cover;
    right: 30px;
    top: 10px;
    width: 59px;
    height: 72px;
}

.slaider-block-item-5 a{
    display: inline-block;
    position: relative;
    color:#ffffff;
    text-transform: uppercase;
    width: 135px;
    background-color: #000000;
    opacity: 0.1;
    min-height: 38px;
    margin-left: 23px;
    margin-top: 15px;
    line-height: 38px;
    text-align: center;
}

.slaider-block-item-6{
    display: flex;
    flex-direction: column;
    background-color:#ffc047;
    width: 300px;
    min-height: 123px;
}

.slaider-block-item-6 span{
    position: relative;
    font-family: Cuprum;
    font-size: 24px;
    font-weight: 700;
    color:#ffffff;
    margin-top: 26px;
    margin-left: 23px;
}

.slaider-block-item-6 span::after{
    position: absolute;
    content: "";
    background-image: url(/img/icon-5.png);
    background-size: cover;
    right: 30px;
    top: 10px;
    width: 78px;
    height: 62px;
}

.slaider-block-item-6 a{
    display: inline-block;
    color:#ffffff;
    text-transform: uppercase;
    width: 135px;
    background-color: #000000;
    opacity: 0.1;
    min-height: 38px;
    margin-left: 23px;
    margin-top: 15px;
    line-height: 38px;
    text-align: center;
}

.best-selling-wrapper{
    background-color: #f9f5f0;
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.best-selling-header{
    color: #32425c;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 35px;
    margin-left: 30px;

}
   
.best-selling-link{
    color: #ffffff;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ee3643;
    margin: 25px;
    padding: 14px 55px;
}

.best-selling-menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.best-selling-item-wrapper{
    display: inline-block;
    width: 220px;
    min-height: 318px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    font-weight: 700;
    text-align: center;   
}

.best-selling-title{
    color: #000000;
    font-family: "PT Sans";
    font-size: 18px;
    min-height: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.user-info-menu,
.best-selling-menu{
    list-style: none;
}

.best-selling-discount{
   color: #a9a9a9;
   font-family: "PT Sans";
   font-size: 17px;
   min-height: 20px;
   text-decoration: line-through;
   margin-top: 15px;
   margin-bottom: 10px;
}

.best-selling-price{
    position: relative;
    width: 80px;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 17px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    background: #ee3643;
    border-radius: 3px;
}

.best-selling-price::after{
    content:"";
    position: absolute;
    top:0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}

.flag flag-new{
    position: absolute;
    top:-1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
    background: url("img/new_flag.png")
}


.popular-maker-wrapper{
    background-color: #f9f5f0;
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.popular-maker-header{
    color: #32425c;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 35px;
    margin-left: 30px;
}

.popular-maker-wrapper a{
    color: #ffffff;
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #ee3643;
    margin: 25px;
    padding: 13px 70px 13px 69px;
}

.popular-maker-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 85px;
}

.popular-maker-item{
    display: flex;
    min-height: 145px;
    width: 220px;
    height: 145px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-top: 20px;
}


.popular-maker-link{
    margin: auto;
}

.main-content-customer-info{
    background-color:#f4f8f9;
    min-height: 522px;
}

.main-content-service{
    margin-top: 68px;
    display: inline-block;
}

.service-header{
    color:#000000;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.service-text{
    font-size: 13px;
    width: 398px;
    height: 96px;
    color:#000000;
    font-family: "PT Sans";
    font-weight: 400;
    line-height: 24px
}

.customer-info-wrapper{
    display: flex;
}


.customer-info-item{
    list-style: none;
}

.customer-info-menu{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 240px;
    color:#ffffff;
    font-size: 21px;
    font-weight: 700;   
}

.customer-info-button{
    display: flex;
    position: relative;
    width: 240px;
    height: 61px;
    background-color: #32425c;
    border: 0;
    color:#ffffff;
    font-size: 21px;
    font-weight: 700;
    text-align: start;
    padding-left: 21px;
}


.customer-info-button:focus{
    color:#32425c;
    background-color:#ffffff;
}


.main-content-delivery{
    margin-left: 80px;
}

.delivery-header{
    position: relative;
    margin: 0;
    padding: 0;
    color: #32425c;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.delivery-header::after{
    position: absolute;
    content: "";
    background-image: url(/img/Layer_131.png);
    background-size: cover;
    left: 160px;
    bottom: -200px;
    width: 468px;
    height: 261px;
}


.delivery-text{
    font-size: 13px;
    font-family: "PT Sans";
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    width: 275px;
    min-height: 147px;
}

.main-content-Company-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
    margin-bottom: 86px;
}

.Company-info-header{
    color:#000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase
}

.Company-info-text{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    width: 519px;
}

.Company-info-list{
    margin: 0;
    padding: 0;
}


.Company-info-item{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    list-style: none;
    margin-left: 0;
}

.Company-info-list:last-of-type::before{
    content: "-";
    color: #ee3643;
}

.Company-info-link{
    display: inline-block;
    box-sizing: border-box;
    margin-top: 37px;
    color: #ffffff;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ee3643;
    
}

.main-content-contacts{
    margin-left: 120px;
}

.contacts-header{
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts-text{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    width: 179px;
}

.contacts-button{
    box-sizing:border-box;
    width: 300px;
    min-height: 38px;
    margin-top: 234px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ee3643;
}
    

.footer-top{
    background-color:#32425c;
}

.footer-main-nav-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer-main-nav-link{
   color: #f1f5f7;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
}


.footer-info-text{
    display: inline-block;
    color: #f3f7f9;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    width: 322px;
}

.footer-info-link{
    color: #f3f7f9;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px
}

.footer-secondary-menu{
    display: flex;
    justify-content: space-between;
}

.footer-secondary-menu-link{
    color: #ffd180;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer-secondary-menu-item{
    list-style: none;
}

.footer-bottom{
    background-color:#293449;
}


.footer-copiright{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    width: 228px;
}

.footer-bottom-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer-contacts-wrapper{
    display: flex;
    justify-content: space-around;
}

.footer-contacts-text{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.footer-contacts-link{
    color: #ffd180;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px
}

.footer-socials-list-item{
    list-style: none;
}



  
