body{
    margin: 0;
    padding: 0;
    font-family: "Cuprum", PT Sans, sans-serif;
    font-size: 13px;
    font-weight: 400px;
    color: #000000;
    background-color:#ffffff;
}

a{
    text-decoration: none;
}

.main header{
    background-color:#f3f7f8;
}

.header-top{
    background-color:#293449;
}

.header-top-menu{
    list-style: none;
    color:#ffffff;
}

.header-top-menu-order{
    background-color:#63a63e;
    color:#ffffff;
    font-family: Cuprum;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
}

.header-top-menu-order:hover{
    background-color:#518534;
}

.header-top-menu-order:active{
    background-color:#5fbb2d
}



.header-top-menu-link{
    color:#ffffff;
    font-family: Cuprum;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
}

.user-info-name{
    color: #ee3643;
    font-family: Cuprum;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
}

.user-unfo-address{
    color: #32425c;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.user-info-phone{
    width: 144px;
    height: 21px;
    color: #ee3643;
    font-family: Cuprum;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
}

.user-list-item-link{
    color: #000000;
    font-family: Cuprum;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
}

.user-list-item-link:hover{
    color: #ee3643
}

.main-nav{
    background-color:#32425c;
}

.main-nav-menu-list{
    color: #ffffff;
    font-family: Cuprum;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    list-style: none;
}

.main-nav-menu-link{
    color:#ffffff;
}

.main-nav-menu-link:hover{
    color:#293449
}

.best-selling-wrapper{
    background-color: #f9f5f0;
}

.best-selling-header{
    color: #32425c;
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.best-selling-link{
    color: #ffffff;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase
}

.best-selling-text{
    color: #000000;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.user-info-menu,
.best-selling-menu{
    list-style: none;
}

.best-selling-first-price{
   color: #a9a9a9;
   font-family: "PT Sans";
   font-size: 17px;
   font-weight: 700;
   line-height: 18px;
   text-decoration: line-through;
   text-transform: uppercase;
}

.best-selling-second-price{
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase
}

.popular-maker-wrapper{
    background-color: #f9f5f0;
}

.popular-maker-header{
    color: #32425c;
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.popular-maker-wrapper a{
    color: #ffffff;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase
}

.popular-maker-menu{
    list-style: none;
}

.main-content-customer-info{
    background-color:#f4f8f9;
}

.service-header{
    color:#000000;
    font-family: Cuprum;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.service-text{
    font-size: 13px;
    width: 398px;
    height: 96px;
    color:#000000;
    font-family: "PT Sans";
    font-weight: 400;
    line-height: 24px
}

.customer-info-item{
    list-style: none;
    font-family: Cuprum;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
}

.customer-info-button:hover{
    background-color:#293449;
    color: #ffffff
}

.customer-info-button:active{
    color:#32425c;
    background-color:#ffffff
}

.delivery-header{
    color: #32425c;
    font-family: Cuprum;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
}

.delivery-text{
    font-size: 13px;
    font-family: "PT Sans";
    font-weight: 400;
    line-height: 24px;
    columns: #000000;
    width: 275px;
    height: 147px;
}

.customer-info-item{
    width: 78px;
    height: 19px;
    color: #32425c;
    font-family: Cuprum;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
}

.Company-info-header{
    color:#000000;
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase
}

.Company-info-text{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px
}

.Company-info-item{
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
}

.Company-info-list:last-of-type::before{
    content: "-";
    color: #ee3643;
}

.Company-info-link{
    color: #000000;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.contacts-header{
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts-text{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400
}

.contacts-button{
    color: #000000;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase
}

.footer-top{
    background-color:#32425c;
}

.footer-main-nav-link{
   color: #f1f5f7;
   font-family: Cuprum;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
}

.footer-main-nav-list{
    list-style: none;
}

.footer-info-text{
    color: #f3f7f9;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px
}

.footer-info-link{
    color: #f3f7f9;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px
}

.footer-secondary-menu-link{
    color: #ffd180;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer-secondary-menu-item{
    list-style: none;
}

.footer bottom{
    background-color:#293449;
}

.footer-copiright{
    color: #ffffff;
    font-family: Cuprum;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.footer-contacts-text{
    color: #000000;
    font-family: Cuprum;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.footer-contacts-link{
    color: #ffd180;
    font-family: Cuprum;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px
}





  
